.dropZoneContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.dropZone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #bdbdbd;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px;
  max-width: 375px;
  max-height: 400px;
  width: 100%;
}